* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

::selection {
  color: none;
  background: none;
}
/* For Mozilla Firefox */
::-moz-selection {
  color: none;
  background: none;
}

button:focus,
select:focus {
  outline: none;
}

header {
  padding: 1em;
  font-size: 2em;
  color: #1b262c;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
  background-color: #f1c5c5;
}

.container {
  width: 80vw;
  height: auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;;
  border-radius: 0.5em;
  background-color:#faf0af;
  border: 2px solid white;
  box-shadow: rgba(255, 208, 208, 0.9);
}

.quote {
  padding: 1.5em;
  font-size: 1.25em;
  line-height: 1.4;
  font-style: italic;
  color: #333;
  text-decoration: none;
  text-align: center;
}


.random {
  padding: 1em;
  background-color: #ffa36c;
  border: 0;
  color: white;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}


footer {
  margin: 1em;
  font-style: italic;
  font-size: 0.75em;
}